@page
@model EditStatusModel
@inject MetadataSettings metadataSettings

@{
    ViewData["Title"] = "Actualizar estado";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">@metadataSettings.ApplicationName</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Evento</a></li>
                    <li class="breadcrumb-item active">Invitados</li>
                </ol>
            </div>
            <h4 class="page-title">@ViewData["Title"]</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="mb-3">
                                    <select class="form-control select2" data-toggle="select2" asp-for="State" asp-items="@Model.States"></select>
                                </div>

                                <div class="mb-3">
                                    <input asp-for="GuestDetail.Name" class="form-control" placeholder="Nombre" disabled />
                                </div>

                                <div class="mb-3">
                                    <input asp-for="GuestDetail.LastName" class="form-control" placeholder="Apellidos" disabled />
                                </div>

                                <div class="mb-3">
                                    <input asp-for="GuestDetail.Email" class="form-control" placeholder="Correo" disabled />
                                </div>

                                <div class="mb-3">
                                    <input asp-for="GuestDetail.Company" class="form-control" placeholder="Empresa" disabled />
                                </div>

                                <div class="mb-0">
                                    <input asp-for="GuestDetail.CompanyPosition" class="form-control" placeholder="Cargo" disabled />
                                </div>

                            </div> <!-- end col-->

                            <div class="col-xl-6">
                            </div> <!-- end col-->
                        </div>
                    </div>
                    <div class="d-flex flex-wrap gap-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a asp-page="Index" class="btn btn-link">Cancelar</a>
                    </div>
                </form>
            </div> <!-- end card-body -->
        </div> <!-- end card-->
    </div> <!-- end col-->
</div>
<!-- end row-->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
