@page
@model LogoutModel
@{
    ViewData["Title"] = "Cerrar sesión";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
            </div>
            <h4 class="page-title">@ViewData["Title"]</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        @{
            if (User.Identity?.IsAuthenticated ?? false)
            {
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button type="submit" class="nav-link btn btn-link text-dark">Haga clic aquí para cerrar la sesi&oacute;n</button>
                </form>
            }
            else
            {
                <p>Ha salido correctamente de la aplicación.</p>
            }
        }
    </div>
</div>
